.game-board {
  width: 75%;
  aspect-ratio: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-board .game-piece {
  border: solid 0.1rem hsl(0 0% 75%);
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
}

.game-board .x {
  background-color: #09c;
}

.game-board .o {
  background-color: #90c;
}